.box{
	background-color: darkseagreen;
	margin: 0 auto;
	margin-top: 60px;
	width: 500px;
	height: 600px;
	font-family: "楷体";
}
.div1{
	padding-top: 5px;
	padding-left:20px;
	height: 120px;
}
.div2{
	padding-left: 80px;
}
span{
	font-size: 24px;
}
h2{
	font-size: 48px;
	text-align: center;
}
a{
	text-decoration: none;
}